{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <style>
    #canvas {
         border:5px solid magenta;
         background-image: url("{{ image.image_thumbnail.url }}");
         background-position: center;
         background-repeat: no-repeat;
         background-size: contain;
     }
     table {
        width: 300px;
      }
      th {
        width: 40%;
      }
      table, th, td {
        border: 1px solid #bcbcbc;
        text-align: center;
      }
  </style>
  <title>Document</title>
</head>
<body>
  <h1>태그된곳</h1>
  <div style="display: inline-block;">
    <canvas id="canvas" width="800" height="600">
        이 브라우저는 캔버스를 지원하지 않습니다.
    </canvas>
    <div style="float: right;">
      <table>
        <caption>태그 리스트</caption>
        <tbody>
          <tr>
            <th>태그 명</th>
            <th>박스</th>
          </tr>
          {% for tag in taglist %}
            <tr>
              <td class="tag">{{ tag.name }}</td>
              <td class="colorxy" id="{{tag.name}}"></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>
        <input type="button" id="clearone" value="상자 지우기"/>
        <form action="" method="POST" id="submit">
          {% csrf_token %}
          <input id="btnfinish" type="submit" value="제출">
        </form>
      </div>
  </div>
</div>
  
<script>
  // -------------------------------------------------------------
  // -------------------------------------------------------------
  let thisbox
  let cnt = 0
  let i = 0
  const colorlist = ['red','orange','yellow','green','blue','indigo','purple']
  const tags = document.querySelectorAll('.tag')
  tags.forEach(element => {
    element.style.cssText = "border: 1px solid "+colorlist[i];
    element.addEventListener('click',function(event){
      thistxt = this.innerText
      thisbox = document.querySelector('#'+thistxt)
      color = event.target.style.borderColor
      thisbox.innerText = '작성중';
      TagPosition = thistxt+'/'
    })
    i = i+1 
  });
  
  // let i = 0
  // tags.forEach(element => {
  //   thisbox = element.innerText
  //   const colorbox = document.querySelector('#'+thisbox)
  //   colorbox.style.cssText = "border: 1px solid "+colorlist[i];
  //   i = i+1 
  // })
  // -------------------------------------------------------------
  // -------------------------------------------------------------
  
  var canvas;
  var ctx;
  var arRectangle = new Array();
  var sx, sy;                  // 드래그 시작점
  var ex, ey;                  // 드래그 끝점
  var color;               // 현재 색상
  var drawing;                // 그리고 있는 중인가
  var moving = -1;              // 이동중인 도형 첨자
  var arrTagPosition = new Array();
  var TagPosition;

  // 사각형 생성자
  function Rectangle(sx, sy, ex, ey, color) {
        this.sx = sx;
        this.sy = sy;
        this.ex = ex;
        this.ey = ey;
        this.color = color;
  }
  // x, y 위치의 사각형 찾음. 없으면 -1
  function getRectangle(x, y) {
        for (var i = 0;i < arRectangle.length;i++) {
            var rect = arRectangle[i];
            if (x > rect.sx && x < rect.ex && y > rect.sy && y < rect.ey) {
                  return i;
            }
        }
        return -1;
  }



  // 화면 지우고 모든 도형을 순서대로 다 그림
  function drawRects() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        for (var i = 0;i < arRectangle.length;i++) {
            var r = arRectangle[i];
            ctx.fillStyle = r.color;
            ctx.fillRect(r.sx, r.sy, r.ex-r.sx, r.ey-r.sy);
            ctx.strokeRect(r.sx, r.sy, r.ex-r.sx, r.ey-r.sy);
        }
  }
  window.onload = function() {
        canvas = document.getElementById("canvas");
        if (canvas == null || canvas.getContext == null) return;
        ctx = canvas.getContext("2d");
        ctx.strokeStyle = "black";
        ctx.lineWidth = 2;
        ctx.fillStyle = color;
        

        canvas.onmousedown = function(e) {
            e.preventDefault();

            

            // 클릭한 좌표 구하고 그 위치에 도형이 있는지 조사
            sx = canvasX(e.clientX);
            sy = canvasY(e.clientY);
            //moving = getRectangle(sx, sy);

            // 도형을 클릭한 것이 아니면 그리기 시작

            if (moving == -1) {
                  drawing = true;
            }

        }

      

        canvas.onmousemove = function(e) {
            e.preventDefault();
            ex = canvasX(e.clientX);
            ey = canvasY(e.clientY);

            // 화면 다시 그리고 현재 도형 그림

            if (drawing) {
                  drawRects();
                  ctx.fillStyle = color;
                  ctx.globalAlpha = 0.3;
                  ctx.fillRect(sx, sy, ex-sx, ey-sy);
                  ctx.strokeRect(sx, sy, ex-sx, ey-sy);
            }

            

            // 상대적인 마우스 이동 거리만큼 도형 이동

            // if (moving != -1) {
            //       var r = arRectangle[moving];
            //       r.sx += (ex - sx);
            //       r.sy += (ey - sy);
            //       r.ex += (ex - sx);
            //       r.ey += (ey - sy);
            //       sx = ex;
            //       sy = ey;
            //       drawRects();
            // }

        }

      

        canvas.onmouseup = function(e) {

            // 좌표 정규화해서 새로운 도형을 배열에 추가

            if (drawing) {
                  var x1 = Math.min(sx, ex);
                  var y1 = Math.min(sy, ey);
                  var x2 = Math.max(sx, ex);
                  var y2 = Math.max(sy, ey);
                  arRectangle.push(new Rectangle(x1, y1, x2, y2,color));
                  thisbox.innerText = '완료'
                  TagPosition = TagPosition+x1+'/'+y1 +'/'+x2+'/'+y2
                  arrTagPosition.push(TagPosition)
                  TagPosition = ''
            }
            drawing = false;
            moving = -1;

        }

  }


  var btnclearone = document.getElementById("clearone");

  btnclearone.onclick = function(e) {

        arRectangle.pop();
        arrTagPosition.pop();
        TagPosition = ''
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        drawRects();
        thisbox.innerText = ""

  }

  var btnfinish = document.getElementById("btnfinish");

  btnfinish.onclick = function(e) {

        ctx.clearRect(0, 0, canvas.width, canvas.height);
        arRectangle.length = 0;
      //   arrPosition.length = 0;

  }



  function canvasX(clientX) {

        var bound = canvas.getBoundingClientRect();
        var bw = 5;
        return (clientX - bound.left - bw) * (canvas.width / (bound.width - bw * 2));
  }



  function canvasY(clientY) {

        var bound = canvas.getBoundingClientRect();
        var bw = 5;
        return (clientY - bound.top - bw) * (canvas.height / (bound.height - bw * 2));

  }

  document.querySelector('#btnfinish').addEventListener('submit', function(event) {
        event.preventDefault()
        console.log(arrTagPosition)
        const data = new FormData()
        data.append('tagposition', arrTagPosition)
        console.log(data)
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
        axios.post('/boxing/save_tag_position/{{ image.pk }}/', data)
            .then(data => {
                  console.log(data)
                  location.href="/boxing/tag/"
            })
  })
  
  </script>
</body>
</html>